body {
    background-color: #14160b;
    font-family: "Cormorant Garamond", serif;
    font-family: "Cormorant SC", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.header {
    font-weight: 200;
    color: #c0bb72;
    text-align: center;
}

h1 {
    font-family: "Cormorant SC", serif;
    font-size: 2.5rem;
}

#subtitle {
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    /* grid-template-columns: repeat (4, 1fr); */
    grid-gap: 1rem;
    margin: 1rem;
    width: 90vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #4c504f 1px;
    box-shadow: 1.5px 2.5px #7c8561;
    border-radius: 1%;
    background-color: whitesmoke;
}
.grow:hover {
    transform: scale(1.1);
}
img {
    max-width: 95%;
    height: 95%;
    border-radius: 3%;
    padding: 5px;
}

.image--title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7b7e66;
}
.overlay {
    position: fixed;
    left: 35%;
    width: 40rem;
    background-color: #7c885af6;
    top: 10rem;
    padding: 1rem;
}

.title--modal {
    font-size: 2rem;
}

.description--modal {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img--modal {
    max-width: 65%;
    height: 65%;
    display: block;
}
.upload--modal {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
}
.exit--modal {
    margin-left: 90%;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.comments--area {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.comment--display {
    background-color: white;
    border-radius: 5px;
    min-height: 3rem;
    margin: 5px;
    padding: 10px;
}

button:hover {
    background-color: #c0bb72;
}

input {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #14160b;
    color: whitesmoke;
}

#file-upload-button {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #14160b;
}

.choose--file {
    width: 2rem;
    background-color: #7c885af6;
    padding: 6px 12px;
    cursor: pointer;
    margin: 2rem;
    height: 2rem;
}
input[type="file"] {
    display: none;
}

button {
    width: 5rem;
    background-color: #7c885af6;
    padding: 6px 12px;
    cursor: pointer;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    margin: 0;
    height: 2rem;
}

/* @media screen and (max-width: 600px) {
}

@media screen and (min-width: 601px) and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) { }*/
